<html>
  <head>
    <title> The Gossip Project </title>
  </head>
  <body>
    <h1> Bienvenue sur le site des potins !</h1>
    <h2> Des potins a gogo, ici on raconte pas de mytho ! </h2>
    <h3> Regarde, y'a déja plein de potins !</h3>

    <%= link_to "J'ai un potin à raconter !", "/new_gossip" %>

      <% Gossip.all.each do |gossip| %>

      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%= gossip.user.first_name%><br></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= gossip.title%></h6>
    <%= link_to "Voir le potin", "/gossip/user/" + gossip.user.id.to_s %>

  </div>
</div>
   <%end%>
